<p>error-page works!</p>
<ul>
  <li>
    <a routerLink="/auth/login">
      Ir a login...
    </a>
  </li>
  <li>
    <a routerLink="/auth/registro">
      Ir a registro...
    </a>
  </li>
  <li>
    <a routerLink="/heroes/listado">
      Ir a listado...
    </a>
  </li>
  <li>
    <a routerLink="/heroes/agregar">
      Ir a agregar...
    </a>
  </li>
  <li>
    <a routerLink="/heroes/editar/234">
      Ir a agregar...
    </a>
  </li>
  <li>
    <a routerLink="/heroes/buscar">
      Ir a buscar...
    </a>
  </li>
  <li>
    <a routerLink="/heroes/superman">
      Ir a heroe...
    </a>
  </li>
</ul>

